<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395596167392-e65ark5ckov19a1ohevkmqq2rqb8abd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395596167392-e65ark5ckov19a1ohevkmqq2rqb8abd5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>395596167392-3d1akui7ifp5847slaurg8nols1dhho3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXOSrIQvAzhDgnRuxigu3D9p8jW2LnpCs</string>
	<key>GCM_SENDER_ID</key>
	<string>395596167392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clownfishyouthclub.aube.memo</string>
	<key>PROJECT_ID</key>
	<string>pamyo-aube</string>
	<key>STORAGE_BUCKET</key>
	<string>pamyo-aube.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395596167392:ios:ee1b04218588290ff43885</string>
</dict>
</plist>